<section>
  <table class="table table-md mt-3 w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Icono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Poblacion</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (country of countries(); track country.cca2; let index = $index) {
      <tr>
        <td>{{ $index + 1 }}</td>
        <td>{{country.flag}}</td>
        <td><img [src]="country.flags.svg" alt="Bandera de {{ country.name }}" class="w-8 h-5"></td>
        <td>{{ country.name }}</td>
        <td>{{ country.capital }}</td>
        <td>{{ country.population }}</td>
        <td><button class="btn btn-primary">Detalles</button></td>
      </tr>
      }
    </tbody>
  </table>
</section>